<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>src/app/AppDelegate.swift</string>
		</dict>
		<key>../README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>README.md</string>
			<key>SortOrder</key>
			<string>0</string>
		</dict>
		<key>info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>supportingFiles</string>
			</array>
			<key>Path</key>
			<string>info.plist</string>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>storyboards</string>
			</array>
			<key>Path</key>
			<string>Base.lproj/LaunchScreen.storyboard</string>
			<key>SortOrder</key>
			<integer>2</integer>
		</dict>
		<key>Base.lproj/MainViewController.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>storyboards</string>
			</array>
			<key>Path</key>
			<string>Base.lproj/MainViewController.storyboard</string>
			<key>SortOrder</key>
			<integer>3</integer>
		</dict>
		<key>src/coordinators/AppCoordinator.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>0</integer>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>coordinators</string>
			</array>
			<key>Path</key>
			<string>src/coordinators/AppCoordinator.swift</string>
		</dict>
		<key>src/coordinators/MainCoordinator.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>coordinators</string>
			</array>
			<key>Path</key>
			<string>src/coordinators/MainCoordinator.swift</string>
		</dict>
		<key>src/data/models/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>data</string>
				<string>model</string>
			</array>
			<key>Path</key>
			<string>src/data/models/README.md</string>
			<key>SortOrder</key>
			<string>2</string>
		</dict>
		<key>src/data/viewModels/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>data</string>
				<string>viewModels</string>
			</array>
			<key>Path</key>
			<string>src/data/viewModels/README.md</string>
			<key>SortOrder</key>
			<string>3</string>
		</dict>
		<key>src/extensions/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>extensions</string>
			</array>
			<key>Path</key>
			<string>src/extensions/README.md</string>
		</dict>
		<key>src/networking/protocols/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>networking</string>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>src/networking/protocols/README.md</string>
			<key>SortOrder</key>
			<string>4</string>
		</dict>
		<key>src/networking/responseModels/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>SortOrder</key>
			<string>4</string>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>networking</string>
				<string>responsModels</string>
			</array>
			<key>Path</key>
			<string>src/networking/responseModels/README.md</string>
		</dict>
		<key>src/networking/routers/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>SortOrder</key>
			<string>4</string>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>networking</string>
				<string>routers</string>
			</array>
			<key>Path</key>
			<string>src/networking/routers/README.md</string>
		</dict>
		<key>src/networking/service/README.md</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>networking</string>
				<string>service</string>
			</array>
			<key>Path</key>
			<string>src/networking/service/README.md</string>
			<key>SortOrder</key>
			<string>4</string>
		</dict>
		<key>src/protocols/Coordinator.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>5</integer>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>src/protocols/Coordinator.swift</string>
		</dict>
		<key>src/protocols/Storyboardable.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>5</integer>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>src/protocols/Storyboardable.swift</string>
		</dict>
		<key>src/ui/flow/main/MainViewController.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Group</key>
			<array>
				<string>src</string>
				<string>ui</string>
				<string>flow</string>
				<string>main</string>
			</array>
			<key>Path</key>
			<string>src/ui/flow/main/MainViewController.swift</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a single view App which uses the coordinator pattern.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplicationWithCoordinator</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>src/data/models/README.md</string>
						<string>src/data/viewModels/README.md</string>
						<string>src/ui/flow/main/MainViewController.swift:comments</string>
						<string>src/ui/flow/main/MainViewController.swift:imports:importCocoa</string>
						<string>src/ui/flow/main/MainViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>AppDelegate.swift:comments</string>
						<string>src/coordinators/AppCoordinator.swift:comments</string>
						<string>src/coordinators/MainCoordinator.swift:comments</string>
						<string>src/protocols/Coordinator.swift:commnets</string>
						<string>src/protocols/Storyboardable.swift:comments</string>
						<string>Base.lproj/MainViewController.storyboard</string>
						<string>Base.lproj/LaunchScreen.storyboard</string>
						<string>../README.md</string>
						<string>src/networking/protocols/README.md</string>
						<string>src/networking/responseModels/README.md</string>
						<string>src/networking/routers/README.md</string>
						<string>src/networking/service/README.md</string>
						<string>src/extensions/README.md</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
